.wrapper {
    width: 100%;
    background-image: url('./background-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 100px);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.content {
    margin-right: 100px;
    width: 40%;
    background-color: #FFF3E3;
    padding: 40px;
    border-radius: 10px;
}

.subtitle {
    color: #333333;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 600;
}

.title {
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 52px;
    line-height: 65px;
    color: #B88E2F
}

.description {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #333333;
}

.button {
    margin-top: 30px;
    background-color: #B88E2F;
    padding: 25px 72px;
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #8f6f26;
}

@media (max-width: 1024px) {
    .content {
        margin-right: 40px;
        width: 50%;
        padding: 25px;
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 42px;
        line-height: 120%;
    }
    
    .description {
        margin-top: 10px;
        font-size: 18px;
    }
    
    .button {
        margin-top: 20px;
        padding: 20px 52px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .content {
        margin-right: 20px;
        padding: 20px;
    }

    .subtitle {
        font-size: 14px;
    }

    .title {
        font-size: 36px;
        line-height: 120%;
    }
    
    .description {
        margin-top: 10px;
        font-size: 16px;
    }
    
    .button {
        margin-top: 20px;
        padding: 16px 42px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        justify-content: flex-start;
    }

    .content {
        width: 90%;
        margin: auto;
        padding: 20px;
        background-color: rgba(255, 243, 227, 0.8);
    }

    .subtitle {
        font-size: 14px;
    }

    .title {
        font-size: 26px;
        line-height: 120%;
    }
    
    .description {
        margin-top: 5px;
        font-size: 16px;
    }
    
    .button {
        margin-top: 10px;
        padding: 14px 30px;
        font-size: 16px;
    }
}
