.component {
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #FCF8F3;
    position: relative;
}

.wrapper {
    height: fit-content;
    max-width: 1200px;
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}

.title {
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    color: #3a3a3a;
}

.description {
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16;
    line-height: 150%;
    color: #616161
}

.button {
    margin: 0;
    margin-top: 20px;
    background-color: #B88E2F;
    padding: 12px 36px;
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #8f6f26;
}

.slider_wrapper {
    position: absolute;
    height: 582px;
    width: 55%;
    right: 0px;
}

@media (max-width: 1024px) {
    .component {
        height: 580px;
        margin-bottom: 40px;
    }

    .title {
        font-size: 26px;
    }

    .description {
        font-size: 18px;
    }

    .slider_wrapper {
        height: 450px;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .component {
        height: 540px;
        margin-bottom: 20px;
    }

    .title {
        font-size: 24px;
    }

    .description {
        font-size: 16px;
    }

    .slider_wrapper {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .component {
        height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .wrapper {
        width: 90%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .content {
        width: 100%;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 16px;
    }

    .slider_wrapper {
        width: 100%;
        padding-left: 20px;
        top: 250px
    }
}